<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark" data-responsive-class="not-dark" data-sticky-offset="full">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo" data-dark-logo="assets/images/logo-dark.png"><img src="../../../assets/images/logo.png" alt="Canvas Logo"></a>
        <a href="index.html" class="retina-logo" data-dark-logo="assets/images/logo-dark@2x.png"><img src="../../assets/images/logo@2x.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="not-dark">

        <ul>
          <li class="active"><a href="#"><div>Home</div></a></li>
          <li><a href="javascript:void(0)" [ngx-scroll-to]="'about'"><div>About Us</div></a>
          </li>
          <li><a href="javascript:void(0)" [ngx-scroll-to]="'product'"><div>Products</div></a></li>
          <li><a href="javascript:void(0)" [ngx-scroll-to]="'service'"><div>Services</div></a></li>
          <li><a href="javascript:void(0)" [ngx-scroll-to]="'testimony'"><div>Testimonies</div></a></li>
          <li><a href="javascript:void(0)" [ngx-scroll-to]="'gallery'"><div>Gallery</div></a></li>
        </ul>

        <!-- Top Search
        ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
          </form>
        </div><!-- #top-search end -->

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header>